<h2>{{componentTitel}}</h2>
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="SensorWeb" tabindex="0" role="button" >SensorWeb</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="Copernicus" tabindex="0" role="button">Copernicus</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="GDI-DE" tabindex="0" role="button">GDI-DE</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="DWD" tabindex="0" role="button">DWD</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="WacodisProduct" tabindex="0" role="button">WacodisProduct</label>
</div>
