<div>
  <button type="button" class="btn btn-light" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Required Parameters
  </button>
</div>
<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <div class="card-body bg-light">
    <form class="form-horizontal">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Area of interest</label>
        <div class="col-sm-2">
          <input class="form-control" id="minLon" placeholder="min. longitude"/>
        </div>
        <div class="col-sm-2">
          <input class="form-control" id="maxLon" placeholder="max. longitude"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-2">
          <input class="form-control" id="minLat" placeholder="min. latitude"/>
        </div>
        <div class="col-sm-2">
          <input class="form-control" id="maxLat" placeholder="max. latitude"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Timeframe</label>
        <div class="col-sm-4">
        <input type="text"
               placeholder="Daterangepicker"
               class="form-control datepicker"
               bsDaterangepicker
               [bsConfig]="{ isAnimated: true, containerClass: 'theme-dark-blue' }"/>
        </div>
      </div>



    </form>

  </div>
</div>
<hr class="hr" align="left">
